*{
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 1170px) {
    body {
        min-height: 485px;
        overflow: hidden;
        position: relative;
        
    }
    }
ul{
	list-style-type: none;
	background: black;
	color: white;
	#fontset{font-size:5vw;}
}
@font-face {
/* font-properties */
font-family: 等线light;
src:url(等线line.eot);
src: url(等线light.TTF);
}